.center{
    text-align: center;
}
.btn{
    padding: 5px;
    margin: 10px;
    height: 42px;
    width: 42px;
    text-decoration: solid;
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    width: 300px;
    background-color: black;
}
#input{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}